<div class="container py-4" style="background-color: #f8f9fa;"> 
  <h1 class="text-center" style="color: #6c757d;">Carts</h1>
  <p class="text-center" style="color: #495057;">Tickets</p>

  <% if @cart && @cart.cart_items.any? %>
    <% @cart.cart_items.each do |item| %>
      <% next if item.expired? %>

      <div style="background-color: #e9ecef; border: 1px solid #dee2e6; padding: 10px; margin-bottom: 10px; border-radius: 4px;">
        <p style="color: #495057;"><%= item.ticket.concert.title %>, zone - <%= item.ticket.zone %>, seat - <%= item.ticket.seat %>, price - <%= number_to_currency(item.ticket.price) %>
          Бронь истечет после <%= (item.created_at + 20.minutes).strftime("%H:%M") %> </p>
        <%= form_with model: @cart, url: delete_ticket_cart_path, method: :delete, local: true do |form| %>
          <%= form.hidden_field :ticket_id, value: item.ticket_id %>
          <%= form.submit "Remove", class: "btn btn-danger"%>
        <% end %> 
      </div>
      <% end %>
    <%= form_with model: @cart, url: buy_ticket_cart_path, method: :put, local: true do |form| %>
        <%= form.hidden_field :cart_id, value: @cart.id %>
        <%= form.submit "Buy Tickets", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <p class="no-tickets" style="color: #d63384;">You don't have tickets</p>
  <% end %>

